body {
    width : 90%;
    margin : 2em auto;
    font : 0.8em/1.2 Arial, Helvetica, sans-serif;
}
#container {
    display : grid;
    grid-template-columns : repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows : minmax(100px,auto);
    gap : 10px;
}
#container .avatar {
    border-radius : 5px;
    padding : 5px;
    background-color : rgb(255, 255, 255);
    border : rgb(200, 200, 200) solid 1px;
    position: relative;
}
#container img {
    width : 80%;
}
.image {
    padding: 10px;
    width: auto;
    text-align: center;
}
.content span {
    font-weight: bold;
    margin-right: 2px;
}
.created {
    position: absolute; 
    bottom: 0;
    right: 5px;
    font : 0.9em/1.2 Arial, Helvetica, sans-serif;
    color : #cccccc;
}
.headerText {
    margin-top: 10px;
    text-align:center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.avatar button {
    position: absolute; 
    top: 0;
    right: 5px;
}
#usernametext {
    text-align : center !important;
    line-height : 2em !important;
    font-size : 1rem !important; 
}